html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -80px 20px 0px 20px;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.table_container {
    display: flex;
    margin: 50px 10px 0 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid #A475D1;
    padding: 2px;
    text-align: center;
    width: auto;
}

input {
    box-sizing: border-box;
    padding: 6px;
    border: 0;
    width: 100%;
}

.buttons_container_1
{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

button
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 5px;
    width: 40px;
    height: 30px;
    background-color: #CCB5DE;
    color: #A475D1;
    border: 0;
}
button:hover
{
    background-color: #A475D1;
    color: #CCB5DE;
}
